body{
    background-color: blue;
    margin:0;
}

.textdiv{
    height:40vh;
    width:80vw;
    margin:8%;
    background-color: red;
}

.first{
    display: flex;
    height:50vh;
    width:100vw;
    background-color: aqua;
    gap:3rem;
}

.firstpic{
    background-color: black;
    height:40vh;
    width:20vw;
    margin:4%;
    margin-left:8%;
}

.firstData{
    background-color: brown;
    height:40vh;
    width:50vw;
    margin:4%;
}

.second{
    display: flex;
    height:50vh;
    width:100vw;
    background-color: rgb(106, 11, 196);
    gap:3rem;
}

.secondpic{
    background-color: black;
    height:40vh;
    width:20vw;
    margin:4%;
    margin-left:8%;
}

.secondData{
    background-color: brown;
    height:40vh;
    width:50vw;
    margin:4%;
}