body
{
    height: 100vh;
    width: 100vw;
    margin:0; 
    display: flex;
    /* align-items:center; */
    font-family:Perpetua;
    /* background: linear-gradient(to right, #448473, #99f2c8); */
    /* background-image: linear-gradient(to top, #c2eac6 0%, #d0f1ce 100%); */

    /* background: linear-gradient(to right, #01333c,#96c8d7f0, #81c7d5, #023e47); */
    background-color: #000000;


    /* background-color: rgb(114, 151, 220); */


    /* background: linear-gradient(to right, #ffafbd, #ffc3a0); */
    
    
    /* background-image: linear-gradient(to right, #f3b666, #fad29f,#f8cf75c7); */
    /* background-image: linear-gradient(to right, #a77cec,#81c1e6); */

    
    /* background-color: rgb(166, 245, 140); */

    opacity: 77%;
}

.navbar{
    
    /* background-image: linear-gradient(to top, #c2eac6 0%, #d0f1ce 100%); */
    /* background-image: linear-gradient(to right, #f3b666, #fad29f,#f8cf75c7); */
    /* background-image: linear-gradient(to right,#8b8686,#F9EEEE,#F9EEEE,#a09c9c) ; */
    background: linear-gradient(45deg,#916128,#a37a3c,#aa8444,#b49858,#e6d789,#c8ad67,#a57d3e,#a37a3c,#916128);
    /* background-image: linear-gradient(to right, #deeaeb, #f4e8d6,#e4dfd3c7); */

    width: 98.1vw;
    margin-top:-27px;
    padding:14px;
    height: 9vh;
    position: sticky;
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: end;
    font-size:xx-large;
    font-weight: 560;
    font-family:Perpetua;
    /* align-content: center; */
    
}

a{
    color:rgb(7, 7, 7);
    text-decoration: none;
}

.link a{
    position: relative;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width:0%;
    transition: 0.3s;
    background: linear-gradient(45deg,#916128,#a37a3c,#aa8444,#b49858,#e6d789,#c8ad67,#a57d3e,#a37a3c,#916128);

}

.link a:hover::after{
    width: 60%;
}


::placeholder
{
    color:rgb(52, 50, 50);
    font-family:Perpetua;
    font-size: medium;
}

.login
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* centre of scrreen  */
    margin-left: 35rem;
    margin-top: 3.7rem;
    height: 75vh;
    width: 450px;
    flex-direction: column;
    /* for align one below other */
    gap: 0.6rem;
    border-radius: 10px;
   
    /* background-color: rgb(141, 141, 240); */
    
    /* background-image: linear-gradient(to top, #68d073 0%, #d0f7ce 100%); */
    /* background: linear-gradient(to right, #d9a7c7, #fffcdc); */


    /* background-image: linear-gradient(to right, #ebc18b, #fad29f,#f8cf75c7); */

    
    /* background-image: linear-gradient(to right, #ebcdde, #f0e3d0,#e4dfd3c7); */
    background: linear-gradient(45deg,#916128,#a37a3c,#aa8444,#b49858,#e6d789,#c8ad67,#a57d3e,#a37a3c,#916128);


   
}

.input
{
    padding: 0.7rem;
    background-color: rgb(248, 248, 255);
    width:55%;
    /* color: rgb(226, 26, 66); */
    border-radius: 5px;
    font-weight: 770;
    border-style: none;
    outline: none;
    font-family:Perpetua;
}

.submit
{
    width: 55%;
    height: 2.3rem;
    border-style: none;
    border-radius: 10px;
    /* gap: 7rem; */
    padding: 4px;
    margin-top: 9px;
    font-weight: 600;
    cursor: pointer;
    background-color: #000000;
    color: white;
    /* background-color:rgb(235, 198, 150); */
}




