body
{
    height: 100vh;
    width: 100vw;
    margin:0; 

    display: flex;
    /* align-items:center; */
    font-family:Perpetua;
    overflow-x: hidden;

    /* background-color: #f6ecfb; */

    /* background-color: #ffc8c8; */

    /* background-color:rgb(227, 216, 201); */
    opacity: 77%;
}

.patterns {
    height: 100vh;
  }
  
  
  
  svg text {
    font-family: Perpetua;
    letter-spacing: 0px;
    stroke: #ffa5d8;
    font-size: 40px;
    font-weight: 100;
    stroke-width: 1;
   
    animation: textAnimate 1.7s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }
  
  
  
.navbar{
    

    background: linear-gradient(to right, #b8884d, #aa80f3);
    /* background: linear-gradient(45deg,#916128,#a37a3c,#aa8444,#b49858,#e6d789,#c8ad67,#a57d3e,#a37a3c,#916128); */
    

    width: 98vw;
    margin-top:-29px;
    padding:14px;
    height: 9vh;
    position: sticky;
}
/* .title{ */
    /* justify-content: left; */
    /* top:-100rem; */
    /* font-size: xx-large; */
/* } */

.nav{
   margin-top : -705px;
}
ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: end;
    font-size:xx-large;
    font-weight: 560;
    font-family:Perpetua;
    /* align-content: center; */
    
}

.link a{
    /* color:rgb(7, 7, 7); */
    color:#ffffffd8;
    /* color:hsl(189, 68%, 75%); */
    text-decoration: none;
    position: relative;
}

.link a::after{
    content: " ";
    top:32px;
    /* right:3px; */
    left:3px;
    position: absolute;
    height: 2.5px;
    width:0%;
    transition: 0.5s;
    /* transform-origin: bottom right;
    /* transition: transform 0.25 ease-out ; */
    background-color: #fab9ded8;
    /* background-color: #efe6ebd8; */
    /* background: linear-gradient(45deg,#916128,#a37a3c,#aa8444,#b49858,#e6d789,#c8ad67,#a57d3e,#a37a3c,#916128); */

}

.link a:hover::after{
    width: 100%;
}